.AddTodo {
    width: 100%;
    border-radius: 8px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    box-shadow: 0 0 15px black;
    background-color: white;
    padding: 10px 20px;

}